{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ml-5">
        <h1 class="display-2">Generic Blog</h1>
        <a class="h1" href="{% url 'about' %}">About</a>
    </div>

    <ul class="container list-unstyled">
        {% for comment in comments %}
            <li class="d-flex flex-row justify-conent-start align-items-center comment">
                <div class="placeholder-blue"><b>{{comment.name}}</b></div>
                <p>{{comment.comment}}</p>
            </li>
        {% endfor %}
    </ul>

    <div class="card container">
        <div class="card-body">
            <h1 class="card-title float-center">{{post.title}}</h1>
            <h2 class="card-subtitle mb-2 text-muted">{{post.subtitle}}</h2>
            <h5 class="mb-5">Made by: {{post.author}}</h3>
            <p class="card-text">{{post.text}}</p>
        </div>
    </div>

    <form class="comment-area d-flex flex-direction-row" action="{% url 'add_comment' %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/style-form.js' %}""></script>
{% endblock %}
