{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for p in post %}
<div class="card container">
    <div class="card-body">
        <h1 class="card-title float-center">{{p.title}}</h1>
        <h2 class="card-subtitle mb-2 text-muted">{{p.subtitle}}</h2>
        <h5 class="mb-5">Made by: {{p.author}}</h5>
        <p class="card-text">{{p.text}}</p>
    </div>
</div>

<ul class="container list-unstyled">
    {% for comment in comments %}
        <li class="d-flex flex-row justify-conent-start align-items-center comment">
            <div class="placeholder-blue"><b>{{comment.name}}</b></div>
            <p>{{comment.comment}}</p>
        </li>
    {% endfor %}
</ul>

<form class="comment-area d-flex flex-direction-row" action="{% url 'add_comment' %}" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary">Comment</button>
</form>
{% endfor %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/style-form.js' %}""></script>
{% endblock %}
